<template>
  <base-layout page-title="caleAI">
    <template v-slot:actions-end>
      <ion-button router-link="/">
        <ion-icon slot="icon-only" :icon="add"></ion-icon>
      </ion-button>
    </template>
    <div id="peer-live">
      <ion-card>
        <ion-card-content>
          <ion-item>
            <ion-label>Peer Name:</ion-label>
            <ion-label>{{ getAuthData.peerName }}</ion-label>
          </ion-item>
        </ion-card-content>
     </ion-card>
    </div>
    <div class="collection-button">one
    </div>
    <div class="collection-button">two
    </div>
    <div class="signout-button">
      <ion-button color="dark" @click="authEnd" >Sign Out</ion-button>
    </div>
    <div class="footer-logo">
      <ion-img :src="logoW"></ion-img>
    </div>
  </base-layout>
</template>

<script>
import { IonCard, IonCardContent, IonLabel, IonItem, IonButton, IonIcon, IonImg} from "@ionic/vue";

export default {
  components: {
    IonCard,
    IonCardContent,
    IonLabel,
    IonItem,
    IonButton,
    IonIcon,
    IonImg
  },
  data() {
    return {
    };
  },
  computed: {
  },
  methods: {
    authEnd() {
    },
    agreeTerms () {
      this.$router.push('/holismdsc')
    }
  },
};
</script>

<style scoped>
.welcome-page {
  display: flex;
  flex-direction: column;
}

.collection-button {
  display: flex;
  justify-content: center;
  padding-top: 2em;
}

.signout-button {
  display: flex;
  justify-content: center;
  padding-top: 6em;
}


.footer-logo {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border: 0px solid red;
  height: 380px;
}

.logo-imaged {
  align-items: flex-end;
  align-self: flex-end;
}

</style>
